<html>
    
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>My Page</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="Styles.css" >
    </head>
    <body>
        <div class='container' >
            <div class="display" id='display' >
                <h4 class='form-headline' >Highest Prime Number is</h2>
                <h1 id='result' ></h1>
            </div>
            <form class='form-row' id='form' >
                <h2 class='form-headline' >Get Highest Prime Number</h2>
                <div class='form-row'>
                    <label class='form-label' >Input Number</label>
                    <input id='input' class='form-input' type='number' />
                </div>
                <button id='button' type="submit" class='form-button'>Submit</button>
            </form>
        </div>
        <script src="Scripts.js"></script>
    </body>
</html>